<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xcompany.jhonline">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".app.JhApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".module.system.activity.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.system.activity.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".module.home.subcontract.activity.SubcontractList" />

        <activity android:name=".module.report.activity.PhotoSelectActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity android:name=".module.report.activity.VideoPreviewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".module.report.activity.ImagePreviewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".module.home.subcontract.activity.QualityTeamDetailActivity" />
        <activity android:name=".module.home.subcontract.activity.TenderDetailActivity" />
        <activity android:name=".module.home.equipment.activity.EquipmentList" />
        <activity android:name=".module.home.equipment.activity.RentingDetailActivity" />
        <activity android:name=".module.home.equipment.activity.RentSeekingDetailActivity" />
        <activity android:name=".module.home.buildMaterial.activity.BuildMaterialList" />
        <activity android:name=".module.home.buildMaterial.activity.QualitySupplierDetailActivity" />
        <activity android:name=".module.home.buildMaterial.activity.PurchaseDetailActivity" />
        <activity android:name=".module.home.certificate.acitivity.CertificateList" />
        <activity android:name=".module.home.certificate.acitivity.RegistrationDetailActivity" />
        <activity android:name=".module.home.certificate.acitivity.QualificationHandleDetailActivity" />
        <activity android:name=".module.home.professionalSkills.activity.ProfessionalSkillsList" />
        <activity android:name=".module.home.professionalSkills.activity.ProfessionalSkillsDetailActivity" />
        <activity android:name=".module.home.labourWorker.activity.LabourWorkerList" />
        <activity android:name=".module.home.labourWorker.activity.HiringDetailActivity" />
        <activity android:name=".module.home.technical.activity.TechnicalList" />
        <activity android:name=".module.home.siteMatching.activity.SiteMatchingList" />
        <activity android:name=".module.home.siteMatching.activity.SiteMatchingDetailActivity" />
        <activity android:name=".module.login.LoginActivity" />
        <activity android:name=".module.report.activity.ReportAddActivity" />

        <activity android:name=".module.home.blacklist.activity.BlackListActivity" />
        <activity android:name=".module.home.blacklist.activity.BlackListDetailActivity" />
        <activity android:name=".module.home.card.activity.AddCardActivity" />
        <activity android:name=".module.home.card.activity.CardDetailActivity" />
        <activity android:name=".module.home.base.CityListActivity" />

        <activity android:name=".module.report.activity.MediaTakeActivity"/>
        <activity android:name=".module.me.activity.MeCreditActivity"/>
        <activity android:name=".module.me.activity.MeCollectListActivity"/>
        <activity android:name=".module.me.activity.MeFollowListActivity"/>
        <activity android:name=".module.publish.activity.PublishSelectTypeActivity"/>
        <activity android:name=".module.publish.activity.PublishTypeActivity" />
        <activity android:name=".module.publish.activity.PublishSubpackageQualityTeamActivity" />
        <activity android:name=".module.publish.activity.QualityTeamFormActivity" />
        <activity android:name=".module.publish.activity.InventoryActivity" />
        <activity android:name=".module.publish.activity.PublishAptitudeHandleActivity"/>
        <activity android:name=".module.publish.activity.PublishCertificateAnchoredActivity"/>
        <activity android:name=".module.publish.activity.PublishPurchasingActivity"/>
        <activity android:name=".module.publish.activity.PublishRecruitingActivity"/>
        <activity android:name=".module.publish.activity.PublishServicedProjectActivity"/>
        <activity android:name=".module.publish.activity.PublishSkillJobHuntingActivity"/>
        <activity android:name=".module.publish.activity.PublishSkillRecruitingActivity"/>
        <activity android:name=".module.publish.activity.PublishJobHuntingActivity"/>
        <activity android:name=".module.publish.activity.PublisConstructionMatchActivity"/>
        <activity android:name=".module.publish.activity.PublishMajorLibraryActivity"/>
        <activity android:name=".module.publish.activity.PublisIndustryBlackListActivity"/>
        <activity android:name=".module.publish.activity.ConstructionCaseActivity" />
        <activity android:name=".module.commen.ProvinceListActivity"/>
        <activity android:name=".module.publish.activity.TenderFormActivity" />
        <activity android:name=".module.publish.activity.RentingProductActivity" />
        <activity android:name=".module.publish.activity.RentingFormActivity" />
        <activity android:name=".module.publish.activity.RentSeekingActivity" />
    </application>

</manifest>